.nav1{
    display: flex;
    justify-content: space-evenly;
}
ul{
    color: #fff;
    z-index: 1;
    list-style-type: none;
    display: flex;

    font-size: 1.7vw;
}

ul>li{
    margin: 0 2vw;
}

