*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    display: flex;
}
#page{
    width: 100%;
    max-height: 60vw;
    position: absolute;
    z-index: -1;
}

#wrapper{
    position: relative;
    margin: 12.5vw 0 0 25vw;
    width: 50vw;
    height: 27vw;
    z-index: 5;
}